body{
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  .mdl-layout__header{
    background-color: steelblue;
  }
}

a{ color: #00B7FF; }

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button{
  color: #000000;
}

.line-container{
  display: flex;
  padding: 20px;
  & > div { flex-direction: column; justify-content: center; display: flex; }
}

.pitch-slider{
  width: 200px;
  display: inline-block;
}
.slider-handle{
  background-color: steelblue;
  background-image: linear-gradient(to bottom, steelblue 0%, #0480be 100%);
}

.mdl-button.mdl-button--colored{
  color: steelblue;
}
.but{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.d3-canvas-container {
  width: 600px;
  display: inline-block;
}
path{
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.brush .overlay{ fill: steelblue; fill-opacity: 0.2; }

.axis path,
.axis line{
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
